{% extends 'base.html' %}

{% block title %}Nueva cita{% endblock %} <!-- Título de la página -->

{% block content %}


<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 class="text-center">Agendar cita</h2>
        <p class="text-center text-danger">{{ error }} </p>
        {% include 'includes/form_cita.html' %}
    </div>
</div>

<script>
function cambiar_fecha(fecha) {
    const url = new URL(window.location.href);
    url.searchParams.set("fecha", fecha);
    window.location.href = url.toString();  // ← siempre GET
}
</script>




{% endblock %}