{% extends 'base.html' %}

{% block title %} Lista de citas completadas{% endblock %}

{% block content %}

<div class="contenedor"> 
    <h2 class="col-centro text-center">Citas completadas</h2>
    {% if error %}
    <div class="alert alert-danger text-center mb-3">
        {{ error }}
    </div>
    {% endif %}
    {% if request.user.is_superuser %}
        <div class="col-derecha ingresos-box">
        {% if rango %}
            <h5 class="mt-1"> Ingresos totales</h5>
                <h6>${{ total }}</h6>
                    <p>{{ rango.0|date:"d/m/y" }} - {{ rango.1|date:"d/m/y" }}</p> <!-- d/m/y son formatos en 2 dígitos-->
        {% else %}
            <h5 class="mt-1"> Ingresos del día </h5>
                <h6>${{ total }}</h6>
        {% endif %}
        </div>
    {% endif %}
</div>

{% if lista %}
    {% for cita in lista %}
    <div class="contenedor mb-4">

        <!-- Columna central: siempre la card -->
        <div class="col-centro">
            <section class="cita-card">
                <h4>Nombre: {{ cita.nombre_clienta }}</h4>
                <p>Servicio: {{ cita.servicio }}</p>
                <p>Precio: ${{ cita.precio }}</p>
                <p>Día: {{ cita.fecha }}</p>
                <p>Hora: {{ cita.hora|time:"H:i" }}</p>
                <p>Comentario: <br>{{ cita.comentario|default:"(sin comentario)" }}</p>
                {% if request.user.is_superuser %}
                    <div class="d-flex gap-2">
                        <form action="{% url 'eliminar_cita' cita.id %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" onclick="return confirmarEliminacion()">🗑️ Eliminar</button>
                        </form>
                    </div>
                {% endif %}
            </section>
        </div>

        <!-- Columna derecha contiene los botones de filtros -->
        <div class="col-derecha">
            {% if forloop.first %}
                {% include 'includes/filtro_completadas.html' %}
            {% endif %}
        </div>

    </div>
    {% endfor %}

{% else %}
    <div class="contenedor mb-4">
        <div class="col-centro">
            <p class="text-center">No hay citas registradas aún.</p>
        </div>
        <div class="col-derecha">
        {% if request.user.is_superuser %}
            {% include 'includes/filtro_completadas.html' %}
        {% endif %}           
        </div>
    </div>
{% endif %}

{% endblock %}