{% extends 'base.html' %}

{% block title %} Lista de citas {% endblock %}

{% block content %}

<h2 class="text-center">Lista de citas</h2>

{% if lista %}
    {% for cita in lista %}
        <div class="row justify-content-center align-items-start mb-3">
            <div class="col-12 col-md-8 col-lg-5">
                <section class="cita-card">
                    <h4>Nombre: {{ cita.nombre_clienta }}</h4>
                    <p>Servicio: {{ cita.servicio }}</p>
                    <p>Precio: ${{ cita.precio }}</p>
                    <p>Día: {{ cita.fecha }}</p>
                    <p>Hora: {{ cita.hora|time:"H:i" }}</p> <!-- H(formato de 24 horas), i(minutos en 2 dígitos)-->
                    <p>Comentario: <br>{{ cita.comentario|default:"--" }}</p>

                    <div class="d-flex gap-2">
                        {% if request.user.is_superuser %} <!-- Solo un superusuario puede completar cita-->
                        <form action="{% url 'completar_cita' cita.id %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">✅ Completar</button>
                        </form>
                        {% endif %}
                            <a href="{% url 'editar_cita' cita.id %}" class="btn btn-warning">✏️ Editar</a>
                        <form action="{% url 'eliminar_cita' cita.id %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" onclick="return confirmarEliminacion()">🗑️ Eliminar</button>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    {% endfor %}

{% else %}
    <p class="text-center">No hay citas registradas aún.</p>
{% endif %}

{% endblock %}