{% extends 'base.html' %}

{% block title %} Mi perfil {% endblock %}

{% block content %}

<h2 class="text-center"> Mi perfil </h2>

<div class="row justify-content-center align-items-start mb-3">
    <div class="col-12 col-md-8 col-lg-5 text-center">
        <section class="cita-card">
            <p><strong> Usuario </strong> <br> {{ usuario.username }} </p>
            <p><strong> Nombre </strong> <br> {{ usuario.first_name|default:"--" }} </p>
            <p><strong> Apellido </strong> <br> {{ usuario.last_name|default:"--" }} </p>
            <p><strong> Telefono </strong> <br> {{ profile.telefono|default:"--" }} </p>
            <p><strong> Mail </strong> <br> {{ usuario.email|default:"--" }} </p>
            <p><strong> Citas completadas </strong> <br> {{ total_citas }} </p>
            <p><strong> Fecha de creación </strong> <br> {{ usuario.date_joined|date:'d/m/Y' }} </p>
        </section>
        <div class="mt-3">
            <a href="editar_perfil"> Editar perfil </a>
        </div>
        <div class="mt-3">
            <a href="cambiar_pass"> Cambiar contraseña </a>
        </div>
        <div class="mt-3">
            <button href="Eliminar_perfil"> Eliminar perfil</button>
        </div>
    </div>
</div>

{% endblock %}